/* Styles customisés Administration BACK OFFICE */

@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Hind+Guntur);


h1,
h2,
h3,
h4,
label,
ul,
li,
.btn-primary {
    font-family: "Nunito", cursive;
}

p {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 16px;
}


a,
a:hover {
    text-decoration: none;
    color: white;
}

.black {
    color: black;
}

.header {
    color: white;
    background-color: dimgrey;
}

.article {
    background-color: lightgray;
}

.nav-title {
    color: white;
    font-size: 2rem;
}

.prix {
    font-size: 2rem;

    margin-bottom: 0;
    font-family: Pacifico;
}

.titre {
    text-align: center;
    size: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.img-borders {
    border-style: solid;
    border: 20px solid grey;
}

.bin {
    background-image: url(/images/bin.png?30327fd9c3b3dc5e3f4e7ea76655555c);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    transition: ease-in-out 0.5s;
    border: none;
    width: 60px;
    height: 60px;
}

.bin:hover {
    width: 70px;
    height: 70px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

h3 {
    margin-top: 8px;
}

.case_prix {
    background-color: white;
    height: 90%;
}

.btn-primary:hover {
    color: grey;
    background-color: white;
    border-color: grey;
    border-width: 10px;
    box-sizing: content-box;
    transition: all ease 0.5s;
}

.btn-primary {
    color: #fff;
    background-color: grey;
    border-color: grey;
    border-width: 10px;
    box-sizing: content-box;
}

.btn {
    font-size: 1.8rem;
    display: block;
}

.infos {
    top: 30%;
    left: 0;
    right: 0;
}

.qte {
    width: 15%;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler-icon {
    color: grey;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
